/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;700&family=Tahoma&family=Geneva&sans-serif');
@import url('https://fonts.googleapis.com/css2?family=Gill+Sans+Extrabold&family=Segoe+UI+Black&family=Tahoma&family=Geneva&sans-serif');

/* Adaptação para telas menores */
@media (max-width: 600px) {
    .login-card,
    .login-card-mojang {
        width: 80%;
    }
}

body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif; /* Definindo uma fonte padrão para o corpo do documento */
}

/* Launcher Logo */
.launcher-logo {
    max-width: 100%;  /* Ajuste conforme necessário */
    margin-right: 20px; /* Espaçamento entre o logo e outros elementos */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('https://t3.ftcdn.net/jpg/05/71/06/76/360_F_571067620_JS5T5TkDtu3gf8Wqm78KoJRF1vobPvo6.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button {
    background-color: #333;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 15px;
    border: 3px solid white;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.button:hover {
    background-color: white;
    color: #333;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.social-buttons {
    display: flex;
    align-items: center;
}

.social-icon,
.social-buttons a {
    display: inline-block;
    font-size: 30px;
    color: white;
    margin-left: 20px; /* Espaçamento entre os ícones */
    transition: transform 0.3s, color 0.3s;
}

.social-icon:hover,
.social-buttons a:hover {
    transform: scale(1.2);
    color: orange;
}

.welcome-message {
    font-family: 'Gill Sans Extrabold', 'Segoe UI Black', Tahoma, Geneva, sans-serif;
    font-size: 22px;
    margin-top: 65px;
    margin-bottom: 0;
    margin-left: 15px;
    color: white;
}

.welcome-message h1 {
    margin-bottom: 0;
}

.welcome-message p {
    font-size: 15px;
    color: white;
    margin-top: 0;
    margin-bottom: 4px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: left;
    font-size: 10px;
    padding: 3px 5px;
    padding-left: 15px;
}

/* Estilo para a página de login */
#login {
    margin: 0;
    overflow: hidden;
    width: 958px; /* Altera para ocupar toda a largura disponível */
    height: 575px;
    display: flex; /* Adiciona o modelo de layout flexível ao contêiner pai */
    flex-direction: row; /* Altera a direção dos itens para linha */
}

.login-logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha a logo e o botão à esquerda */
    justify-content: center;
    width: 50%; /* Define a largura para ocupar metade da tela */
    box-sizing: border-box;
    padding: 20px; /* Adiciona espaço ao redor da logo e do botão */
}

.launcher-logo {
    max-width: 100%;
    margin-bottom: 20px;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px; /* Adiciona um espaçamento entre o ícone e o texto */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.fas.fa-arrow-left {
    animation: arrowAnimation 3s infinite; /* Adiciona animação apenas para a seta */
}

.back-button:hover {
    background-color: whitesmoke; /* Muda a cor do botão ao passar o mouse */
    color: black;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

@keyframes arrowAnimation {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-5px); /* Ajusta o deslocamento da animação */
    }
    60% {
        transform: translateX(-2px); /* Ajusta o deslocamento da animação */
    }
}



.login-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
    justify-content: center;
    width: 50%; /* Define a largura para ocupar metade da tela */
    box-sizing: border-box;
    padding: 20px; /* Adiciona espaço ao redor do conteúdo */
}

.login-card {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Roboto', Geneva, Segoe UI, sans-serif;
    font-size: 20px;
}

/* Novo estilo para o restante do conteúdo à direita da logo */
.login-right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store {
    color: #00bcd4;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Para ocupar toda a largura disponível */
}

.login-input {
    width: 100%;
    max-width: 400px;
    margin: 10px 0px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 20px; /* Adiciona bordas arredondadas */
    text-align: center; /* Centraliza o texto */
    border: 1px solid #ccc; /* Adiciona uma borda para destacar o campo */
}

.login-error-username,
.login-error-password {
    color: red;
    margin-top: 5px;
}


.login-criar {
    width: 160px;
    height: 30px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    
}
.login-type-btn {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    text-align: center;
}

.login-btn,
#forgot-password-btn {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    text-align: center;
}

.login-type-btn:hover,
.login-criar:hover,
.login-btn:hover,
#forgot-password-btn:hover {
    background-color: #218838;
}

.cancel-login {
    width: 80%;
    max-width: 400px;
    background-color: #555;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-login:hover {
    background-color: #777;
}

#forgot-password-link,
#forgot-password-link-bottom {
    color: #777;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
    display: block;
}

#forgot-password-link:hover,
#forgot-password-link-bottom:hover {
    color: #aaa;
}


/* Estilo para a página de registro */
.registro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.registro-card {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.registro-type-btn {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.registro-type-btn:hover {
    background-color: #777;
}

/* .cancel-registro {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-registro:hover {
    background-color: #777;
} */

.registro-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 16px;
}

.error-username,
.error-mail,
.error-password {
    color: red;
    margin-top: 5px;
}

.registro-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-option-registro {
    display: flex;
    justify-content: center;
}

.registro-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.registro-btn:hover {
    background-color: #218838;
}


